<div>
  <h3><%= "Average Rating " %>
    <% @desk.desk_average_rating.to_i.times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (5 - (@desk.desk_average_rating.to_i)).times do %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </h3>
</div>
<ul>
<% @desk.bookings.each do |booking| %>
  <% if booking.review.nil? == false %>

      <li><%= "Traveller name : #{booking.user.username}" %></li>
      <p><%= booking.review %></p>
  <% end %>
<% end %>
</ul>
