<div class="container">
  <h1><%= @booking.start_at.strftime('%Y-%m-%d-%H-%M') %></h1>
  <p><%= @booking.end_at.strftime('%Y-%m-%d-%H-%M') %></p>
  <p><%= @desk.title %></p>

<%= cl_image_tag @desk.photo, height: 300, width: 400, crop: :fill %>

</div>
