<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= safe_desk_img_path(@booking.desk) %>')">
  <h1><%= @booking.start_at.strftime('%Y-%m-%d-%H-%M') %></h1>
  <p><%= @booking.end_at.strftime('%Y-%m-%d-%H-%M') %></p>
  <p><%= @desk.title %></p>
</div>
