<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Air<span>CnD</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      |
      <a href="#">About Us</a>
      |
      <a href="#">Faq</a>
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

    <form action="https://fastfives.mailchimp.com/" method="get">

      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>
