.right-bottom{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: $green;
  color:white;
  padding: 20px;
  border-radius:5px;
  font-size: 40px;
}

.booking-card{
  background-color: rgba(240, 240, 240, 0.9);
  color: black;
  padding: 40px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}
.review{
  color:white;
  margin-bottom: 30px;
}

.booking-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 640px) {
 .booking-card{
  width: 200px;
  font-size: 14px;
  padding: 20px;
 }
 .right-bottom{
    font-size: 25px;
 }
}
