.img{
  height:300px;
  margin: 30px 0px;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background-size: cover !important;
  position: relative;
  text-align: center;

}

.img-large{
  height:70vh;
}

.img-medium{
  min-width: 300px !important;
}
